
div {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    animation: colorful  4s linear 3s infinite alternate;
  }
  
  @keyframes colorful {
    0%   {background-color: chartreuse; left:0px; top:0px;}
    25%  {background-color: chocolate; left:100px; top:0px;}
    50%  {background-color: crimson; left:100px; top:100px;}
    75%  {background-color: darkgreen; left:0px; top:100px;}
    100% {background-color: darkslateblue; left:0px; top:0px;}
  }
